In [8]:
import pandas as pd
from pandas import Series, DataFrame
from pandas import read_html
import numpy as np

import requests
import bs4
from bs4 import BeautifulSoup

In [9]:
url ='https://coinmarketcap.com/'

In [10]:
crypto = pd.io.html.read_html(url)

In [11]:
crypto

[    Unnamed: 0    #                 Name       Price   24h %    7d %  \
 0          NaN  1.0       Bitcoin1BTCBuy  $58,627.55   4.17%  11.40%
 1          NaN  2.0      Ethereum2ETHBuy   $3,182.28  10.61%  30.02%
 2          NaN  3.0  Binance Coin3BNBBuy     $633.53   4.89%  18.47%
 3          NaN  4.0              XRP4XRP       $1.60   2.78%  38.07%
 4          NaN  5.0       Tether5USDTBuy       $1.00   0.02%   0.03%
 ..         ...  ...                  ...         ...     ...     ...
 95         NaN  NaN             IOSTIOST       $0.07     NaN     NaN
 96         NaN  NaN             FlowFLOW      $31.11     NaN     NaN
 97         NaN  NaN             DentDENT       $0.01     NaN     NaN
 98         NaN  NaN               RenREN       $1.02     NaN     NaN
 99         NaN  NaN     Voyager TokenVGX       $4.52     NaN     NaN

             Market Cap                         Volume(24h)  \
 0   $1,096,215,347,740          $42,235,179,638720,398 BTC
 1     $368,251,187,521       $33,347,998,24210,479,269 ETH
 2      $97,203,884,950         $3,731,563,3815,890,141 BNB
 3      $72,563,409,631     $6,199,136,3183,878,893,844 XRP
 4      $52,063,187,102  $88,779,404,64688,762,016,047 USDT
 ..                 ...                                 ...
 95                 NaN                                 NaN
 96                 NaN                                 NaN
 97                 NaN                                 NaN
 98                 NaN                                 NaN
 99                 NaN                                 NaN

      Circulating Supply  Last 7 Days  Unnamed: 10
 0        18,697,956 BTC          NaN          NaN
 1       115,719,183 ETH          NaN          NaN
 2       153,432,897 BNB          NaN          NaN
 3    45,404,028,640 XRP          NaN          NaN
 4   52,052,989,851 USDT          NaN          NaN
 ..                  ...          ...          ...
 95                  NaN          NaN          NaN
 96                  NaN          NaN          NaN
 97                  NaN          NaN          NaN
 98                  NaN          NaN          NaN
 99                  NaN          NaN          NaN

 [100 rows x 11 columns]]

In [12]:
#I only need the first table (first page) so therefore..
crypto[0]

,Unnamed: 0,#,Name,Price,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 10
0,NaN,1.0,Bitcoin1BTCBuy,"$58,627.55",4.17%,11.40%,"$1,096,215,347,740","$42,235,179,638720,398 BTC","18,697,956 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETHBuy,"$3,182.28",10.61%,30.02%,"$368,251,187,521","$33,347,998,24210,479,269 ETH","115,719,183 ETH",NaN,NaN
2,NaN,3.0,Binance Coin3BNBBuy,$633.53,4.89%,18.47%,"$97,203,884,950","$3,731,563,3815,890,141 BNB","153,432,897 BNB",NaN,NaN
3,NaN,4.0,XRP4XRP,$1.60,2.78%,38.07%,"$72,563,409,631","$6,199,136,3183,878,893,844 XRP","45,404,028,640 XRP",NaN,NaN
4,NaN,5.0,Tether5USDTBuy,$1.00,0.02%,0.03%,"$52,063,187,102","$88,779,404,64688,762,016,047 USDT","52,052,989,851 USDT",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,IOSTIOST,$0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,FlowFLOW,$31.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,DentDENT,$0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,RenREN,$1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Voyager TokenVGX,$4.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
crypto[0].dropna(1)

                   Name       Price
0        Bitcoin1BTCBuy  $58,627.55
1       Ethereum2ETHBuy   $3,182.28
2   Binance Coin3BNBBuy     $633.53
3               XRP4XRP       $1.60
4        Tether5USDTBuy       $1.00
..                  ...         ...
95             IOSTIOST       $0.07
96             FlowFLOW      $31.11
97             DentDENT       $0.01
98               RenREN       $1.02
99     Voyager TokenVGX       $4.52

[100 rows x 2 columns]

In [14]:
cryptobars = crypto[0].dropna(1)